<br />

<div class="container">
<div class="card">
      <h5 class="card-header">Featured</h5>
	<div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <div class="card-text">
         <form class="form-horizontal"
         novalidate
         (ngSubmit)="save()"
         [formGroup]="problemeForm">
      
         <div class="form-group row">          
            <label for="prenomId" class="col-md-2 col-form-label text-right">Prénom :</label>
            <div class="col-md-10">
              <input class="form-control" 
              id="prenomId" 
              type="text" 
              placeholder="Votre prénom ici (obligatoire)" 
              formControlName="prenom"            
            [ngClass]="{'is-valid': (problemeForm.get('prenom').touched || 
              problemeForm.get('prenom').dirty) &&
              problemeForm.get('prenom').valid,
              
            
              'is-invalid': (problemeForm.get('prenom').touched || 
              problemeForm.get('prenom').dirty) &&
              !problemeForm.get('prenom').valid}"
              />
             
              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched ||
              problemeForm.get('prenom').dirty) &&
              (problemeForm.get('prenom').errors)">
                  <span *ngIf=" problemeForm.get('prenom').errors['required']">
                      <small class="text-muted">
                          Merci de saisir votre prénom.
                      </small>
                  </span>
                  <span *ngIf="problemeForm.get('prenom').errors['nbreCaracteresInsuffisant']">
                      <small class="text-muted">
                          Veuillez entrer plus de caractères.
                      </small>
                  </span>
              </span> 
              <label for="nomId" class="col-md-2 col-form-label text-right">nom :</label>
              
              <input class="form-control" 
              id="nomId" 
              type="text" 
              placeholder="Votre nom ici (obligatoire)" 
              formControlName="nom"            
            [ngClass]="{'is-valid': (problemeForm.get('nom').touched || 
            problemeForm.get('nom').dirty) &&
            problemeForm.get('nom').valid,
              
            
            'is-invalid': (problemeForm.get('nom').touched || 
            problemeForm.get('nom').dirty) &&
            !problemeForm.get('nom').valid}"
              />
        
              <div class="form-group row">
                <label for="noProblemeId" class="col-md-2form-label text-right">Probleme :</label>
                <div class="col-sm-10">
                    <select class="form-control"
                    id="noProblemId"
                    formControlName="noProblem">
                    <option value="">Selectionner le type de probleme</option>
                    <option *ngFor="let tp of typesProbleme"[value]="tp.id">{{tp.descriptionTypeProbleme}}</option>
                
                
                </select>

                </div>




              </div>
            
        
            
            
            
            </div>
            <div class="card-footer">

                  <!-- Bouton save ici -->
      
                  <button class="btn btn-primary" type="submit">
      
                      Sauvegarder
      
                  </button>
      
              </div>
      </div>  
</form>
              
           
            



        
    
    


</div>

</div> 


  
